<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>"Piper Wave3"</title>

</head>
<body>
    <p>{{ message }}<p>
    <p>{"temperature Graph"}</p>  
    <h1><img src="/home/ec2-user/Piper-Wave3/static/graph1.png"></h1>
    <p>{"moisture Graph"}</p>  
    <h1><img src="/home/ec2-user/Piper-Wave3/static/graph2.png"></h1>
    <p>{"Light Graph"}</p>  
    <h1><img src="/home/ec2-user/Piper-Wave3/static/graph3.png"></h1>
    <p>{"Distance Graph"}</p>  
    <h1><img src="/home/ec2-user/Piper-Wave3/static/graph4.png"></h1>
    <p>{"Gas-concentration Graph"}</p>  
    <h1><img src="/home/ec2-user/Piper-Wave3/static/graph5.png"></h1>
</body>
</html>