<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>"Piper Wave3"</title>

</head>
<body>
   <p>{{ message }}<p>
   <h1>{"temperature Graph"} {"moisture Graph"}  {"Light Graph"}</h1>  

   <table border="1" cellspacing="0" cellpadding="1">
   <tr>
   <td><img src="./static/graph1.png"></td>
   <td><img src="./static/graph2.png"></td>
   <td><img src="./static/graph3.png"></td>
   </tr>
   </table>

   <h1>{"Distance Graph"} {"Gas-concentration Graph"}</h1>  
   <table border="1" cellspacing="0" cellpadding="1">
   <tr>
   <td><img src="./static/graph4.png"></td>
   <td><img src="./static/graph5.png"></td>
   </tr>
   </table>
</body>
</html>